@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  touch-action: pan-x pan-y; /* Prevent pinch zoom */
}

/* Add this to your global CSS or inside your component's CSS module */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html.dark {
  --background: #171717; /* Dark mode background */
  --foreground: #ededed; /* Dark mode foreground color */
}

html.light {
  --background: white; /* Light mode background */
  --foreground: #171717; /* Light mode foreground color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
